.mainScreen, .homeScreen, .loadingScreen {
    visibility: hidden;
}
.analysisScreen {
    visibility: visible;
}
#logo {
    width: 654px; 
    height: 181px; 
    left: 213px; 
    top: 114px; 
    position: absolute;
}
#info {
    left: 462px; 
    top: 574px; 
    position: absolute; 
    color: white;
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 700; 
    line-height: 52px; 
    word-wrap: break-word;
}
#analysisResult {
    width: 660px; 
    height: 451.58px; 
    left: 210px; 
    top: 689px; 
    position: absolute;
    border: 3px #B5B5B5 solid;
}
#plasticLabel {
    left: 271px; 
    top: 799px; 
    position: absolute; 
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400;
    word-wrap: break-word;
}
#glassLabel {
    left: 488px; 
    top: 799px; 
    position: absolute; 
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
#canLabel {
    left: 712px; 
    top: 799px; 
    position: absolute; 
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
#plasticCount {
    left: 286px; top: 938px; position: absolute; color: white; font-size: 60px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
#glassCount {
    left: 494px; top: 938px; position: absolute; color: white; font-size: 60px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
#canCount {
    left: 702px; top: 938px; position: absolute; color: white; font-size: 60px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
#recaptureButton {
    width: 307px; 
    height: 110px; 
    left: 210px; 
    top: 1211px; 
    position: absolute;
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
#continueButton {
    width: 307px; 
    height: 110px; 
    left: 560px; 
    top: 1211px;
    position: absolute;
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
#logoutButton {
    left: 507px; 
    top: 1600px; 
    position: absolute; 
    color: #9F9F9F; 
    background: none;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    text-decoration: underline; 
    word-wrap: break-word;
}