#inputName::placeholder {
    color: #A0A0A0; 
}
#logo {
    width: 654px; 
    height: 181px; 
    left: 213px; 
    top: 492px; 
    position: absolute;
}
#inputName {
    width: 660px; 
    height: 138px; 
    left: 210px; 
    top: 726px; 
    font-size: 40px; 
    font-weight: 700; 
    background: none;
    color: white;
    word-wrap: break-word;
    position: absolute; 
    border-bottom: 4px white solid;
}
#loginButton {
    width: 660px; 
    height: 110px;
    left: 210px; 
    top: 979px;
    position: absolute; 
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
#loginError {
    left: 332px; 
    top: 900px; 
    position: absolute; 
    color: #FF0000; 
    font-size: 35px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
    visibility: hidden;
}