.homeScreen {
    visibility: hidden;
}
.mainScreen {
    visibility: visible;
}
#logo {
    width: 654px; 
    height: 181px; 
    left: 213px; 
    top: 114px; 
    position: absolute;
}
#selectCamera {
    width: 400px; 
    height: 50px; 
    left: 340px; 
    top: 607px; 
    position: absolute; 
    color: white;
    appearance: none;
    border-radius: 100px; 
    border: 1.50px #B5B5B5 solid;
}
#camStreaming {
    width: 660px; 
    height: 451.58px; 
    left: 210px; 
    top: 689px; 
    position: absolute; 
    background: #333333; 
    border: 3px #B5B5B5 solid;
}
#operateButton {
    width: 660px; 
    height: 94px;
    left: 210px; 
    top: 1210.58px; 
    position: absolute;
    color: white; 
    font-size: 40px; 
    font-weight: 400; 
    word-wrap: break-word;
}
#logoutButton {
    left: 507px; 
    top: 1600px; 
    position: absolute; 
    color: #9F9F9F; 
    background: none;
    font-size: 20px; 
    font-weight: 400; 
    text-decoration: underline; 
    word-wrap: break-word;
}
#cameraList {
    left: 300px; top: 652px; position: absolute;
    visibility: hidden;
}
button {
    background: none;
    color: white;
    border: none;
}
#selectedCamera {
    left: 31px; top: 15px; position: absolute;
    font-size: 16px;
    font-weight: 400; 
    line-height: 20.80px; 
    word-wrap: break-word;
}
li {
    width: 400px; 
    height: 45px; 
    font-size: 16px;
    font-weight: 400; 
    line-height: 20.80px; 
    text-align: left;
    background: black; 
    border: 1.50px #B5B5B5 solid;
    list-style-type: none;
}
#webcamSelected, #merakiSelected {
    width: 18px;
    height: 18px;
}
#cameraIcon {
    left: 350px;
    top: 623px;
    position: absolute;
    width: 20px; 
    height: 20px;
    border: none;
}
#menuIcon {
    top: 40%;
    left: 90%;
    position: absolute;
    width: 0;
    height: 0;
    border-top:  12px solid #55C595;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}