.homeScreen {
    visibility: hidden;
}
.mainScreen {
    visibility: visible;
}
#logo {
    width: 654px; 
    height: 181px; 
    left: 213px; 
    top: 114px; 
    position: absolute;
}
#selectCamera {
    width: 400px; 
    height: 50px; 
    left: 340px; 
    top: 607px; 
    position: absolute; 
    color: white;
    appearance: none;
    border-radius: 100px; 
    border: 1.50px #B5B5B5 solid;
}
#camStreaming {
    width: 660px; 
    height: 451.58px; 
    left: 210px; 
    top: 689px; 
    position: absolute; 
    background: #333333; 
    border: 3px #B5B5B5 solid;
}
#userName {
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 700; 
    line-height: 52px; 
    word-wrap: break-word;
}
#sayHello {
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 52px; 
    word-wrap: break-word;
}
#cameraButton {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    width: 213px; 
    height: 209px; 
    position: absolute; 
    left: 779px; 
    top: 98px;
}
#operateButton {
    width: 660px; 
    height: 110px; 
    left: 210px; 
    top: 1210.58px; 
    position: absolute;
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}
.idContainer {
    left: 351px; 
    top: 523px;
    position: absolute;
}
#logoutButton {
    left: 507px; 
    top: 1600px; 
    position: absolute; 
    color: #9F9F9F; 
    background: none;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    text-decoration: underline; 
    word-wrap: break-word;
}