html {
    transform: rotate(-90deg);
    transform-origin: top left;
    position: relative;
    top: 100%;
    left: -3%;
    overflow: hidden;
    
}
body {
    text-align: center;
    align-items: center;
    background-color: #000000;
    color: white;
    font-family: "Hahmlet", serif;
}
tr, td {
    border: none;
}
.hidden {
    display: none;
}
.mainScreen, .analysisScreen, .loadingScreen, .resultScreen, .mileageResultScreen {
    visibility: hidden;
}
#logoutButton {
    left: 507px; 
    top: 1600px; 
    position: absolute; 
    color: #9F9F9F; 
    background: none;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    text-decoration: underline; 
    word-wrap: break-word;
}