body {
    text-align: center;
    align-items: center;
    background-color: #C1F1C1;
    font-family: "Hahmlet";
}
table { 
    border: 1px solid;
    border-collapse: collapse;
    border-top: none;
    margin: auto;
    display: none;
    margin: 20px;
}
#firstWord {
    color: #1F891F;
}
caption {
    caption-side: bottom;
}
td {
    width : 100px;
    height : 100px;
    padding-left: 20px;
    padding-right: 20px;
}
tr, td {
    border: none;
}
.hidden {
    display: none;
}