html {
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    top: 68%;
    left: 0;
    font-size: 160%;
}
body {
    text-align: center;
    align-items: center;
    background-color: #C1F1C1;
    font-family: "Hahmlet";
}
table { 
    border: 3px solid;
    border-collapse: collapse;
    border-top: none;
    margin: 30px;
    display: none;
}
#firstWord {
    color: #1F891F;
}
caption {
    caption-side: bottom;
}
td {
    width : 200px;
    height : 200px;
    padding-left: 20px;
    padding-right: 20px;
}
tr, td {
    border: none;
}
.hidden {
    display: none;
}